* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.navbar{
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 698px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px 0 100px;
    margin-bottom: 60px;
}

.logo {
    font-size: 34px;
    font-weight: bolder;
    color: #4e47ff;
}

a:hover {
    background-color: coral;
}

.btn {
    background-color: #4e47ff;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
}

.hero-content {
    text-align: center;
    margin-top: 105px;
}

.hero-content h1 {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 40px;
}

.hero-btn {
    font-size: 16px;
}

/* part2 */

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px 0 150px;
    margin-top: 0;
    margin-bottom: 70px;
}

.front1{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}

.small{
    font-size: 24px;
    color: #19182789;
    margin-bottom: 20px;
}

.photo1{
    width: 400px;
    border-radius: 48px;
}

.am-btn{
    font-size: 16px;
}

/* part3 */

.section2{
    text-align: center;
    background-color: #6a65f830;
    margin: 40px 150px;
    padding: 10px 60px 40px 60px;
    border-radius: 8px;
}

.stat-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mali{
    font-size: 38px;
    font-weight: bold;
}


.stas-num{
    font-size: 80px;
    font-weight: bold;
    color: #4e47ff;
    margin-top: 0;
    margin-bottom: 0;
}

.stats-level{
    font-size: 16px;
    color: #01000f6f;
    margin-top: 0;
}

/* part4 */

.rew-section {
    margin-top: 20px;
}

.mali {
    text-align: center;
}
.revew-section {
    display: flex;
    justify-content: space-between;
    margin: 0 150px 40px 150px;
}

.riview{
    background-color: aliceblue;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
}

.name-size{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}

.rivew-des{
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0;
}

.star{
    display: flex;
}

.star-size{
    width: 16px;
}

.profile-logo {
    display: flex;
    align-items: center;
}


.profile-size {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 0px;
    margin-bottom: 0;
}

.lona {
    margin-top: 5px;
    margin-left: 10px;
}

.rew-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.time {
    font-size: 15px;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.545);

}

/* new00 */
.better {
background-color: aliceblue;
border-radius: 8px;
margin: 10px 150px;
padding: 40px 60px 40px 60px;
}

.focus1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.focus2 {
    font-size: 13px;
    margin-top: 8px;
    text-align: center;
    color: rgba(0, 0, 0, 0.436);
    margin-bottom: 20px;
}

.box3 {
    margin: auto;
    display: block;
    width: 136px;
    text-align: center;
}

.faz {
    align-items: center;
    margin-top: 0px;
}

.fazimg {
    border-radius: 30px;
    align-items: center;
    margin-top: 50px;
}

/* bb00 */

.container {
  display: flex;
  justify-content: space-between;
  margin: 40px 150px 40px 150px;
  align-items: center;
  background-color: white;
  padding: 40px;
}

.getin {
    font-size: 60px;
    font-weight: bold;
}

.formbox {
    display: flex;
    flex-direction: column;
}

label {
  margin: 12px 0 4px;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

input,
textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  background-color: #fff;
}

button {
  width: 400px;  
  margin-top: 20px;
  padding: 14px;
  font-size: 16px;
  background-color: #4e4cf0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: coral;
}

